@import '_variables'

sp()
  @media screen and (max-width: 480px) 
    {block}

tb()
  @media screen and (max-width: 1024px) 
    {block}

.container
  background-color main-color
  width main-content-width
  position absolute
  top 0
  right 0
  +tb()
    width 100%