$main-color: #eee;
$sub-color: #6332f6;
$accent-color: #FF2E86;
$cursor-color: rgba(46, 255, 192, 1);

$text-color: $sub-color;
$bg-color: white;

$side-content-width: 8vw;
$side-bar-width: 8vw;
$side-bar-height: 78px;
$side-bar-color: $main-color;

$nav-height: 60px;

$main-content-width: 92vw;
$works-column-num: 3;

$radius-size: 4px;