@charset "utf-8";
@import 'variables';

html {
  font-family: 'Lato', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif; 
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $text-color;
  // overflow-x: hidden;
  cursor: none;
}

body{
  background-color: $main-color;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:link,
*:visited {
  text-decoration: none;
  color: $text-color;
  cursor: none;
}

*::selection{
  background: $accent-color;
  background: rgba(46, 255, 192, 1);
  // color: #fff;

}

.page-enter-active{
  transition: opacity .3s ease-out;
}
.page-leave-active {
  transition: opacity .2s ease-out;
}

.page-enter,
.page-leave-to
{
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 1.0s;
}

.slide-enter{
  transform: translateX(100px);
  opacity: 0;
}
.slide-enter-to{
  transform: translateX(0px);
}
.slide-leave{
  transform: translateX(0px);
}
.slide-leave-to{
  transform: translateX(-100px);
  opacity: 0;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
}

.main-content {
  margin-left: $side-content-width;
  margin-top: 100vh;
  width: calc(100% - #{$side-content-width});
  width: calc(100vw - #{$side-content-width});
  // width: 100%;
  // padding-left: $side-content-width;
}

.page-title {
  height: 10vh;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 10vh;
  margin: 32px auto;

  position: relative;
  padding: 0 1.2em;
  width: 200px;

  &:before,
  &:after {
    content: '';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
  }

  &:before {
    border-left: solid 3px $sub-color;
    border-top: solid 3px $sub-color;
    top: 0;
    left: 0;
  }

  &:after {
    border-right: solid 3px $sub-color;
    border-bottom: solid 3px $sub-color;
    bottom: 0;
    right: 0;
  }
}

.link-button {
  position: relative;
  padding: 8px 32px;
  border: 2px solid $sub-color;
  font-weight: bold;
  border-radius: $radius-size;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  z-index: 0;
  margin: auto;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.55, 0.05, 0.22, 0.99);

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background-color: $sub-color;
    transform-origin: left top;
    transform: scale(0, 1);
    transition: all 0.4s cubic-bezier(0.55, 0.05, 0.22, 0.99);
  }

  &:hover {
    color: $main-color;
    transition: all 0.7s cubic-bezier(0.55, 0.05, 0.22, 0.99);

    &::before {
      transform-origin: left top;
      transform: scale(1, 1);
      transition: all 0.7s cubic-bezier(0.55, 0.05, 0.22, 0.99);
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-content{
    margin-left: 0;
    padding-top: $side-bar-height;
    width: 100vw;
  }
  html{
    cursor: initial;
  }
  *:link,
  *:visited {
    cursor: initial;
  }
}

@media screen and (max-width: 480px) {
  .main-content {
    padding-top: $nav-height;
  }
  .page-title {
    font-size: 6vw;
    width: 40vw;
    height: 20vw;
    line-height: 20vw;
    padding: 0;
  }
}